@use '../../app/globals.scss' as *;

.header{
    height: $header-height;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:99;
    transition: height 0.3s ease, background-color 0.3s ease;

     @media only screen and (max-width: 375px) {
            height: 6rem;
        }

    &.shrink{
        height: $header-shrink-height;
        background-color: #FFF;
    }

    &__wrap {
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__top {
        @include flex(center, space-between);
        width: 100%;
        height: 100%;
        padding:0 2rem;

        @include mobile {
            justify-content: space-between;
        }
    }

    &__nav-left {
        @include flex(center, unset);
        @include mobile {
            position: fixed;
            width:100%;
            padding:0 2rem;
            background-color: $bg;
            bottom:0;
            left:0;
            height:5rem;
            @include flex(center, space-between);
        }
        & > * {
            margin-left: 2rem;
            @include mobile {
                margin-left: 0;
            }
        }

    }

    &__nav-right {
        @include flex(center, unset);
        @include mobile {
            position: fixed;
            width:100%;
            padding:0 2rem;
            background-color: $bg;
            bottom:0;
            left:0;
            height:5rem;
            @include flex(center, space-between);
        }
        
        & > * {
            margin-left: 2rem;
            cursor: pointer;
            &:hover {
                color:$primary
            }
            
        }

        li {
            padding: 5px 0;
            position: relative;
            font-size: 0.825rem;
            font-weight: 500;

            &::after {
                content:'';
                position: absolute;
                bottom:0;
                left:50%;
                transform: translateX(-50%);
                width:0;
                transition:width 0.5s ease;
                height:2px;
                background-color: $primary;
            }

            &.active::after,
            &:hover::after {
                width:100%;
            }
            @include mobile {
                font-weight: 600;
            }
        }
    }
}

.logo {
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
    color:$primary;
    right: 50%;
    transform: translateX(50%);
}

.product-nav {
    @include flex(unset, unset);
    position: absolute;
    bottom: 0;
    padding: 0 2rem;
    gap:1rem;
    flex-wrap: wrap;

    & > li{
        font-size: 0.8rem;
        font-weight: 600;
        color: #505050
    }

    @media only screen and (max-width: 375px) {
            bottom:-100%;
        }
}