@use '@/app/globals.scss' as *;

.purchase {
    padding-top: 9rem;
    @include flex(center, unset);
    flex-direction: column;

//배송지 입력 
   &__delivery{
        width: 350px;

        & h1{
          font-size: 18px;
          margin-bottom: 2rem;
        }   

        &__form{
          .label {
               font-size: 14px;
               font-weight: bold;
               margin-right: 10px;
          }

          &__receive {
               margin-bottom: 2rem;
          }

          &__address {
              
               & > div {
                    margin:10px 0
               }

               & > input {
                    width: calc(100% - 20px );
                    margin-bottom: 10px;
               }

               & input:disabled {
                    cursor: not-allowed;
                  }
          }
        }
        &__input {
          border-radius: 5px;
          border: solid 1px #D9D9D9;
          padding: 5px 10px;
          font-size: 12px;

          &:focus {
               border: solid 1.5px #5179e5;
          }
        }

   }

//상품 정보

     &__productInfo {
          width: 350px;
          & h1 {
               font-size: 18px;
          }

          & > p {
               font-size: 12px;
               font-weight: bold;
          }

          &__infoWrap{
               @include flex(unset, unset);
               gap: 10px;

               & > img {
                    max-width: 150px;
                    width: 100%;
                    height: auto;
               }

               &__info {
                    @include flex(unset, space-between);
                    flex-direction: column;

                    &  p {
                         font-size: 12px;
                    }
               }
          }
     }
}

.search-button {
     padding: 5px 10px;
     border: solid 1px #5179e5;
     border-radius: 5px;
     margin: 0 10px;
     cursor: pointer;
     font-weight: 500;
     font-size: 12px;

     &:hover{
         font-weight: bold;      
     }
}