@use '@/app/globals.scss' as *;

.mypage { 
    padding: 9rem 2rem 0;

    .purchase {
        &__card {
            padding: 1rem 0;
            border-bottom: solid 0.5px #cac9c9;
        }

        &__empty {
            & p {
                color: #727272;
                text-align: center
            }
        }
    }

    .myReview {

        &__card {
            @include flex(center, space-between);
            padding: 1rem 0;
            border-bottom: solid 0.5px #cac9c9;
            &__btnWrap {
                & > button {
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}
