@use '../../app/globals.scss' as *;

button {
    cursor: pointer;
}
.btn {
    border-radius: $border-radius;
    padding: 0.5rem 1.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
}

.btn-outline {
    border: 2px solid $border-color;
    background-color: transparent;
    color: #000;
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.btn-outline:hover {
    box-shadow: unset;
    color: #fff;
    background-color:$primary;
}
.btn.small {
    border-width: 2px;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
}