@use '@/app/globals.scss' as *;

.consent {
    padding-top: 9rem;
    width: 340px;
    margin: auto;
    @include flex(unset, center);
    flex-direction: column;

    & > h1 {
        text-align: center;
        
    }

    &__next-button{
        width: 100%;
        border: solid 1px $primary;
        border-radius: 10px;
        text-align: center;
        height: 40px;
        font-weight: bold;
        cursor: pointer;
    }
}

.icon-wrapper {
    @include flex(center,unset);

    & > input {
        width: 20px;
        height: 20px;
        opacity: 0;
        position: absolute;
    }

    & > svg {
        margin-right: 10px;
    }

    margin-bottom: 10px;

    cursor: pointer;
}