// @use '../../app/globals.scss' as *
@use '@/app/globals.scss' as *;

.new-arrival{
    padding: 0 2rem;

    &__title{
        @include flex(center, flex-end);
        margin-bottom: 20px;

        & > h1 {
            position: absolute;
            right: 50%;
            transform: translateX(50%)
        }
    }

    &__image-box {
        // max-width: 1920px;
        @include flex(unset,center);
        gap:20px;

       & img {
        width:30%;
        max-width: 880px;
        height: auto;
        object-fit: contain;

        @include tablet {
            width: 40%;
        }

        @include mobile {
            width:100%;
        }
       }
    }

    &__des-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px auto;

        @include mobile {
            width: 80%;
        }
        
        & span {
            color:#ff3636
        }
        & > * {
            text-align: center;
        }
    }

    & .products-container{
        @include flex(unset, center);

        @media only screen and (max-width:600px) {
            & a {
                width: 28%;
            }
        }
       
    }
}
