@use '../../app/globals.scss' as *;

.footer{

    @include flex (unset,space-between);
    @include mobile {
        margin-bottom: 4rem;
    }
    gap: 1rem;
    padding: 1rem;

    &__content {

        & h1 {
            font-size: 1rem
        }

        & p, li {
            font-size: .8rem
        }

        width: 25%;
        @include flex(center, flex-start);
        flex-direction: column;
        gap: 1rem;

        
    }

    &__social a > svg {
        font-size: 1.2rem;
        margin-right: 10px;
        transition: 0.3s;

        &:hover {
            transform: translateY(-0.25rem);
        }
    }
    &__cards img {
        width: 30px;
        height: 20px;
        margin-right: 10px;
    }

    &__title {
        font-size: 1.2rem;
    }
}