@use '../app/globals.scss' as *;

.login{
    padding-top: 9rem;
    height: calc(100vh - 9rem);

    &__form{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;

        &__label {
            font-size: 1rem;
            line-height: 1.6rem;
            margin-bottom: 10px;
            font-style: normal;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.4);
        }

        & h1{
            text-align: center;
            margin-bottom: 3rem;
            font-size: 1.8rem;
        }
    }


    &__email, &__password{
        @include flex(unset, unset);
        flex-direction: column;
        margin-bottom: 2rem;

        &__input{
            height: 44px;
            border: solid 1px #D9D9D9;
            border-radius: 10px;
            padding: 0 1rem;
        }
    }

    &__button {
        width: 100%;
        border-radius: 10px;
        border: solid 1px $border-color;
        padding: 1rem 0;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
    }
}

.social {
    width: 340px;
    padding:0 20px;
    margin:auto;

    & > p {
        text-align: center;
        margin: 1rem 0;
        font-size: .825rem;
    }

    &__signup {
        @include flex(center, center);
       
        gap: 20px;

        & > p{
            font-weight: bold;
            color: #3879F6;
            font-size: .825rem;
        }

        &__button {
            border: 1px solid #3879F6;
            border-radius: 10px;
            padding: 5px  10px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            color: #3879F6;
        }
    }
}

