@use '@/app/globals.scss' as *;

.product-card {
    position: relative;
    width: 100%;
    max-width: 190px;
    height: auto;

    & img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    &__hover {
        color: black;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include flex(center, unset);
        gap: 1rem;
        flex-direction: column;
        width: 100%;
        padding:0 15px;

        &__title {
            font-weight: bold;
            text-align: center;
        }
        &__color {
            display: flex;
            gap: 5px;
        }
        &__color > *{
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }

    &::before {
        content:'';
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:#fff;
        opacity: 0;
        transition: opacity 0.3s ease;
        
    }
    &:hover::before{
        opacity: 0.7;
    }
    &:hover &__hover{
        opacity:1;
    }

    &__name {
        text-align: center
    }
}

.products-container {
    @include flex(unset,unset);
    gap:10px
}