@use '@/app/globals.scss' as *;

.season {
    margin-bottom: 5rem;
    @include flex(unset, unset);
    gap: 2rem;
    
    @include mobile {
        flex-direction: column;
        width: 100%;
    }

    &__left {
        width: 50%;
        padding-top: 50%;
        background-image: url('../../public/images/seasonImage1.webp');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;

        @include mobile {
            width: 100%;
            padding-top: 65%;
        }
    }
    &__right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        
        @include mobile {
            width: 100%;
            gap: 2rem;
        }

        & h1 {
            text-transform: uppercase;
        }
    }

    &__productImage {
        display: flex;
        gap: 15px;
        align-items: end;

        & img{
            width: 50%;
            height: auto;
            max-width:390px;
            max-height: 390px;
            aspect-ratio: 1;
        }
    }

    & .small {
        margin: 0 auto;
    }
}